/* Global */
body {
  font-family: "Poppins", sans-serif;
}
/* Start Global setting */
.main-color {
  color: #08546c;
}
.main-bg {
  background-color: #08546c;
}
.main-br {
  border: 1px solid #08546c;
}
.text-15 {
  font-size: 15px;
}
.text-333 {
  color: #333333;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}
/* End Global setting */
/* Start Navbar */
nav {
  background-color: rgba($color: #f6f6f2, $alpha: 0.78);
  height: 70px;
  .navbar-nav {
    .nav-item {
      .nav-link {
        transition: 0.3s;
      }
      &:hover .nav-link {
        color: #093047 !important;
        font-weight: bold;
      }
      .nav-link.active {
        color: #093047;
        font-weight: bold;
      }
    }
  }
}
/* End Navbar */
/* Start main */
.landing-page {
  height: 100vh;
  margin-top: -70px;
  .before-column {
    position: relative;
    .image {
      position: absolute;
      bottom: 30%;
      left: 55%;
    }
    &::before {
      content: url("./../images/shape-01.png");
      position: absolute;
      top: 150px;
      left: -42%;
    }
  }
  .info {
    .our-goal {
      position: relative;
      font-weight: 300;
      color: #9a9b9d;
      &::after {
        content: url("./../images/shape-02.png");
        position: absolute;
        top: -24px;
        left: 87px;
      }
    }
    a {
      width: fit-content;
      font-weight: 300;
      font-size: 13px;
    }
  }
  .landing-img {
    img {
      height: 100vh;
      width: 100%;
    }
  }
}
/* End main */
/* Start About */
.about {
  background-color: #fafbfc;
  h4 {
    font-size: 15px;
    font-weight: 300;
    position: relative;
    &::after {
      content: url("./../images/shape-02.png");
      position: absolute;
      left: 165px;
      width: 52px;
      height: 52px;
      top: 8px;
    }
  }
  .image {
    position: relative;

    img {
      position: absolute;
      right: 0;
      top: -35px;
    }
  }
}
/* End About*/
/* Start Case Studies */
.case-studies {
  .info {
    width: 60%;
    h4 {
      font-size: 15px;
      position: relative;
      &::after {
        content: url("./../images/shape-02.png");
        position: absolute;
        top: -28px;
        left: 125px;
      }
    }
  }
  .studies {
    img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }
  }
  .control {
    .con {
      span {
        width: 50px;
        background-color: #e7e7e7;
        height: 2px;
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background-color: #08546c;
          width: 50%;
          height: 2px;
        }
      }
    }
  }
}
/* End Case Studies */
/* Start Services */
.services {
  .info {
    margin-left: 100px;
    width: 50%;
    h4 {
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      font-size: 15px;
      &::after {
        content: url("./../images/shape-02.png");
        position: absolute;
        top: -27px;
        left: 75px;
      }
    }
  }
  .analysis {
    .image {
      img {
        height: 100%;
      }
    }
  }

  .web-development {
    .cycles {
      position: relative;
      &::before {
        content: url("./../images/cycle-01.png");
        position: absolute;
        top: 145px;
      }
      &::after {
        content: url("./../images/cycle-02.png");
        position: absolute;
        top: 130px;
        left: 25px;
      }
    }

    .image {
      img {
        height: 100%;
      }
    }
  }

  .design {
    .cycles {
      position: relative;
      &::before {
        content: url("./../images/cycle-01.png");
        position: absolute;
        top: 145px;
      }
      &::after {
        content: url("./../images/cycle-02.png");
        position: absolute;
        top: 130px;
        left: 25px;
      }
    }
  }
}
/* End Services */

/* Start Contact Us */
.contact-us {
  position: relative;
  &::before {
    content: url("./../images/cycle-01.png");
    position: absolute;
    top: -37px;
    left: 42px;
  }
  &::after {
    content: url("./../images/cycle-02.png");
    position: absolute;
    top: -59px;
    left: 62px;
  }

  .box {
    h5 {
      color: white;
      font-weight: 300;
      font-size: 15px;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: url("./../images/shape-05.png");
        position: absolute;
        top: -27px;
        left: 160px;
      }
    }
  }
  form {
    input[type="text"],
    input[type="email"],
    input[type="date"],
    select {
      border-bottom: 1px solid #fff !important;
      color: white;
      &:focus {
        box-shadow: none;
      }
    }
    select {
      option {
        padding: 2px 5px;
        transition: 0.3s;
        &:hover {
          padding-left: 3px;
        }
      }
    }

    ::placeholder {
      color: white;
      font-weight: 300;
      font-size: 12px;
    }
  }
}
/* End Contact Us */
/* Start testimonials */
.testimonials {
}
/* End testimonials */
