/* Global */
body {
  font-family: "Poppins", sans-serif;
}

/* Start Global setting */
.main-color {
  color: #08546c;
}

.main-bg {
  background-color: #08546c;
}

.main-br {
  border: 1px solid #08546c;
}

.text-15 {
  font-size: 15px;
}

.text-333 {
  color: #333333;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

/* End Global setting */
/* Start Navbar */
nav {
  background-color: rgba(246, 246, 242, 0.78);
  height: 70px;
}
nav .navbar-nav .nav-item .nav-link {
  transition: 0.3s;
}
nav .navbar-nav .nav-item:hover .nav-link {
  color: #093047 !important;
  font-weight: bold;
}
nav .navbar-nav .nav-item .nav-link.active {
  color: #093047;
  font-weight: bold;
}

/* End Navbar */
/* Start main */
.landing-page {
  height: 100vh;
  margin-top: -70px;
}
.landing-page .before-column::before {
  content: url("./../images/shape-01.png");
  position: absolute;
  top: 150px;
  left: -42%;
}
.landing-page .info .our-goal {
  position: relative;
  font-weight: 300;
  color: #9a9b9d;
}
.landing-page .info .our-goal::after {
  content: url("./../images/shape-02.png");
  position: absolute;
  top: -24px;
  left: 87px;
}
.landing-page .info a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.landing-page .landing-img img {
  height: 100%;
}

/* End main */
/* Start About */
.about {
  background-color: #fafbfc;
}
.about h4 {
  font-size: 15px;
  font-weight: 300;
  position: relative;
}
.about h4::after {
  content: url("./../images/shape-02.png");
  position: absolute;
  left: 165px;
  width: 52px;
  height: 52px;
  top: 8px;
}

/* End About*/
/* Start Case Studies */
.case-studies .info {
  width: 60%;
}
.case-studies .info h4 {
  font-size: 15px;
  position: relative;
}
.case-studies .info h4::after {
  content: url("./../images/shape-02.png");
  position: absolute;
  top: -28px;
  left: 108px;
}
.case-studies .studies img {
  max-width: 100%;
  max-height: 100%;
}
.case-studies .control .con span {
  width: 50px;
  background-color: #e7e7e7;
  height: 2px;
  display: inline-block;
  position: relative;
}
.case-studies .control .con span::before {
  content: "";
  position: absolute;
  background-color: #08546c;
  width: 50%;
  height: 2px;
}

/* End Case Studies */
/* Start Services */
.services .info {
  margin-left: 100px;
  width: 50%;
}
.services .info h4 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  font-size: 15px;
}
.services .info h4::after {
  content: url("./../images/shape-02.png");
  position: absolute;
  top: -27px;
  left: 75px;
}
.services .analysis .image img {
  height: 100%;
}
.services .web-development .cycles {
  position: relative;
}
.services .web-development .cycles::before {
  content: url("./../images/cycle-01.png");
  position: absolute;
  top: 145px;
}
.services .web-development .cycles::after {
  content: url("./../images/cycle-02.png");
  position: absolute;
  top: 130px;
  left: 25px;
}
.services .web-development .image img {
  height: 100%;
}
.services .design .cycles {
  position: relative;
}
.services .design .cycles::before {
  content: url("./../images/cycle-01.png");
  position: absolute;
  top: 145px;
}
.services .design .cycles::after {
  content: url("./../images/cycle-02.png");
  position: absolute;
  top: 130px;
  left: 25px;
}

/* End Services */
/* Start Contact Us */
.contact-us {
  position: relative;
}
.contact-us::before {
  content: url("./../images/cycle-01.png");
  position: absolute;
  top: -37px;
  left: 42px;
}
.contact-us::after {
  content: url("./../images/cycle-02.png");
  position: absolute;
  top: -59px;
  left: 62px;
}
.contact-us .box h5 {
  color: white;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
}
.contact-us .box h5::after {
  content: url("./../images/shape-05.png");
  position: absolute;
  top: -27px;
  left: 160px;
}
.contact-us form input[type=text],
.contact-us form input[type=email],
.contact-us form input[type=date],
.contact-us form select {
  border-bottom: 1px solid #fff !important;
}
.contact-us form input[type=text]:focus,
.contact-us form input[type=email]:focus,
.contact-us form input[type=date]:focus,
.contact-us form select:focus {
  outline: none !important;
}
.contact-us form ::-moz-placeholder {
  color: white;
  font-weight: 300;
  font-size: 12px;
}
.contact-us form :-ms-input-placeholder {
  color: white;
  font-weight: 300;
  font-size: 12px;
}
.contact-us form ::placeholder {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

/* End Contact Us *//*# sourceMappingURL=app.css.map */